{% extends 'WeddingRespondBundle::layout.html.twig' %}

{% block content %}
  <form action="{{ path('wedding_respond_homepage') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Send" />
  </form>
{% endblock %}