<h2 class="title">Gift Registry</h2>
<div class="body">
  {% image '@WeddingRespondBundle/Resources/public/images/bbb.png' %}
    <div class="store">
      <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?WRN=-616101369&RNT=0&" target="_blank">
        <img src="{{ asset_url }}" alt="Bed Bath &amp; Beyond" />
      </a>
    </div>
  {% endimage %}
  {% image '@WeddingRespondBundle/Resources/public/images/ws.png' %}
    <div class="store">
      <a href="https://secure.williams-sonoma.com/registry/8p7sfck5pp/registry-list.html" target="_blank">
        <img src="{{ asset_url }}" alt="Williams-Sonoma" />
      </a>
    </div>
  {% endimage %}
  {% image '@WeddingRespondBundle/Resources/public/images/macys.png' %}
    <div class="store">
      <a href="http://www1.macys.com/registry/wedding/guest/?registryId=186822&sortOperation=true&sortBy=STILL_NEED" target="_blank">
        <img src="{{ asset_url }}" alt="Macy's" />
      </a>
    </div>
  {% endimage %}
</div>