<h2 class="title">RSVP</h2>
<form class="rsvp" action="{{ path('wedding_respond_rsvp') }}" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <input class="submit" type="submit" value="Respond" />
</form>
