parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     wedding
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.mandrillapp.com
    mailer_auth_mode:  login
    mailer_port:       587
    mailer_user:       wedding@example.com
    mailer_password:   ~
    mailer_address:    ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    wedding_twitter.twitter.consumer_key: ~
    wedding_twitter.twitter.consumer_secret: ~
    wedding_twitter.twitter.access_key: ~
    wedding_twitter.twitter.access_key_secret: ~

