
body {
  margin: 0;
  padding: 0;
}

#page {
  width: 100%;
  margin: 3em auto 0 auto;
  padding: 0 1em;
}

.us {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 200px;
}


@media only screen and (min-width: 600px) {

  #page {
    width: 600px;
  }

}