h2.title {
  font-weight: normal;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
  font-size: 1.7em;
}

div.page {
  padding-top: 5em;
}

#rsvp {
  margin-top: 18em;
}

div.page:last-child {
  padding-bottom: 3em;
}

form.rsvp {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 3em;
}

#respond > div {
  clear: both;
  margin-bottom: 1em;
}

form.rsvp label,
form.rsvp input {
  display: block;
}

form.rsvp input,
form.rsvp textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.2em;
  width: 100%;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.1em;
}

form.rsvp .submit {
  margin: 1.5em 0 0 0;
  padding: 0.4em 0;
  background-color: rgba(255,255,255,0.8);
  border-color: #5b256a;
  color: #5b256a;
}

form.rsvp .submit:hover {
  color: #fff;
  background-color: #5b256a;
}

#respond_attending {
  margin-top: 0.2em;
}

#respond_attending input {
  padding: 0;
  margin: 0.2em 0.4em 0 0;
  float: left;
  clear: both;
  width: auto;
  display: inline;
}

/*
 * Photos
 */
#photos .wrapper {
  background-color: #fff;
  width: 100%;
  height: 421px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  top: 4.8em;
  left: 0;
}

#photos .carousel img {
  display: none;
  float: left;
  width: 632px;
  height: auto;
}

.js #photos .carousel img {
  display: block;
}

#photos .prev,
#photos .next {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  height: 450px;
  width: 50%;
  top: 0;
  position: absolute;
}

#photos .prev:hover,
#photos .next:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}

#photos .prev {
  left: -316px;
}

#photos .next {
  right: -316px;
}



