
body {
  margin: 0;
  padding: 0;
}

.us {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: -204px;
  margin-left: -204px;
  font-weight: normal;
}