<p>Will I don't know exactly what you're looking for so I will give you a few samples. You can choose one, or two, or tell me to write something else.</p>

<p>"Will and I met when we both joined KYX, I would share more of the details about our first night together but I would get angry group messages from KYX members."</p>

<p>"Whenever I see Will I think to myself 'Yeah, more of that!'"</p>

<p>"If Will, myself, or our friend David uttered the phrase 'if God is willing and da Creek don't rise' in the fall of 2011 we would drop everything we were doing. Only because we knew we were about to sneak away to go enjoy a meal at one of the greatest restaurants known to man.. Tibbys. Will took David and I there and we all fell in love.. We enjoyed the food too. I remember after the first time we ate there we were giddy, and we promised not to tell anyone about the treasure we had found. That was a mistake made in the mid 1800's in California that we were not about to repeat. Well I guess in writing this I just told a lot of people... O well. 'If God is willing and da creek don't rise.'"</p>

<p>"Will and I used to do p90x together.. Man did I hate p90x/Tony, but I love Will."</p>

<p>"I remember when Will took me to go see me the ring that his fiance would soon be wearing.. I freaked out."</p>

<p>"When Will would come to Orlando this past year he would stay with me. I know, I am a lucky man.. Many times I would wake up in the middle of the night confused/angry because there was a man in my bed. Then I would remember it was just Will. Once I remembered I was ok with it."</p>

<p>"Will has a great mustache."</p>

<p>-Andrew</p>