<p>
  The first time I met Will “Branden with an E”, was the Fourth Grade. I was changing from home school and the ever imprisonment trying to learn what long division was while my mother watched Regis and Kathy Lee. Yes, my teacher was more involved with Regis Philbin then she was with my arithmetic skills. My system was in shock from being at a real school for the first time and actually being around people, and we hadn’t even pulled out our math books yet. Eventually doom and gloom happened and we started math and having to solve problems on the board while everyone else seemed to know what they were doing, I was more lost than Branden’s sexuality. The worst part was my teacher didn’t change; my mother took the teaching job for the fourth grade class. I guess either she didn’t remember that math was something she never taught me or there was a math class hidden within Regis and Kathy Lee. I’m still looking for the math episode; I’m starting to think it doesn’t exist. After math was my favorite subject, History. After taking a pop quiz in our history class the first person in my class spoke to me. Branden leaned over and saw that I made a 100 on my quiz and said, 
</p>
<p>
  “Your pretty good at this.”
</p>
<p>
  “I like history, but I have no clue what I’m doing in math.”
</p>
<p>
  And that’s when Branden offered the deal that started our friendship. He asked me, 
</p>
<p>
  “If you help me with history, I’ll help you with math.” 
</p>
<p>
  That was the beginning of the friendship that has lasted for 14 years. We went through middle school and high school together. You were always there for me and when some of my friends left my side because of the issues I had “sorry other Brandon”, you were always there. You have truly been a great friend to me. Our friendship has spanned from Florida, Hawaii, and Iraq… twice. Even though we haven’t seen each other as much as we both have liked the past six years, I will always remember the night drives, long talks late at night on the beach about what we wanted in our future, The O.C., and the time we had to pull Matt and Keilan out of the ditch and then duct tape the T-Bird front bumper hoping that Mr. Shuler wouldn’t notice. I am happy that you have finally found your one. Can’t wait to see you. And next time you spell my name wrong I will throw a knife at you.
</p>