<p>Will & Matt. It only makes sense that these two names have the same letter order (consonant-vowel-double consonant), because these two people were meant to be together [Let’s ignore the fact that the name Jess also has the same feature].</p>

<p>Like peanut butter and jelly, Will and Matt cannot be separated unless torn apart by the 30 pounds per square inch force that only a human temporal muscle can provide. Or an alligator. Alligator’s chew really hard.</p>

<p>From the time Matt knocked on Will’s door in Pegasus Landing to give Will a bag of candy for visiting his church, Matt knew this was going to be something special. After finding their common ground of Halo and Rock Band over the next 9 months, these two young men took the big step that they knew was unavoidable; they moved in together. And by that I mean they got a three bedroom apartment in Oviedo Grove with another UCF student.</p>

<p>Over the two years that Matt and Will did life together in the Grove, memories were made, tears were shed and glory was found. Now that Matt and Will have both moved away from Orlando, their connection, although distanced, has not grown weak. They each look forward to a lifetime of exchanging picture messages of familiar, culinary images: a cup from TJ Flats, a bowl of delicious Cereal, and the front of a Sonny’s menu.</p>

<p>Matt, after having Will as a groomsman last year, is unbelievably excited for what he knows Will is about to experience. He wishes Will and his better half, Jess, the happiest of days for their wedding and the most blessed marriage and life together. Congratulations!</p>