<p>
  Well, the way that Will and I first met was on the first day of school in the sixth grade. He was actually the first person to talk to me there, and I remember lunchtime on that day when he introduced me to a girl named Stephanie. When she walked off from the lunch table, I told her that I thought she was pretty and that I thought I liked her.
</p>
<p>
  Little did I know that moment that at the time he had a crush on her as well that had lasted years of knowing her.
</p>
<p>
  Obviously, as time passed on, that crush, on both of our parts, met its end, but as it would turn out, the entire basis of our friendship started on a competition to woo the same girl.
</p>
<p>
  I’m also supposed to tell a story of an adventure that the two of us have shared. There are too many to choose one to necessarily be my favorite, but here is a story of an adventure that has always stuck with me and that I would gladly organize and go through again and again:
</p>
<p>
  During the summer of our freshman year in high school, Will and I packed up our bags and embarked on a fourteen‐day vacation with his nana to beautiful Myrtle Beach. After a long seven hour drive, filled with I‐Spy games and melodic indulgences, we arrived at the condo for a much anticipated view of the South Carolina sand and salt water; and, of course, the speciation of the other beach‐goers.
</p>
<p>
  Soon after our arrival, we went to the closest surf shop to purchase boogie boards, with which we so righteously rode waves on, on almost a daily basis.
</p>
<p>
  On the close of the days that we would ride those gigantic, and sometimes, dangerous swells, fighting for our lives and the respect of our fellow surfers, we felt the urge to kick back and relax. So, accordingly, we decided to dig in and pile up wet sand in order to fashion a couple of make‐shift Lazy Boy recliners. From atop our gritty beach thrones, we comfortably enjoyed the sun descending over the water line... at least, until the tide came in. At which point, we enjoyed a sit and a swim.
</p>
<p>
  On most nights, once the sun went down, we enjoyed the condo’s exterior hot tub, accompanied by my guitar and the occasional new friend and music lover.
</p>
<p>
  Other evenings, we would enjoy manipulating a few games of putt‐putt at the local arcade.
</p>
<p>
  For days, the wave catching, relaxing, and other unmentionable antics bonded a friendship between the two of us that would prove to stand the test of time and the obstacles of distances.
</p>
<p>
  As Will opens a new chapter in his life, becoming a half of a whole with the woman destined to hold the tile of his best friend, he will always be rich with not only my friendship, but many others also. With his rich past, and Jessica’s rich past,the two of them, together, are destined for a rich future as a couple. They have my love and support, prayers and blessings, and best wishes and congratulations.
</p>
