<p>She's just waiting for the summertime when the weathers fine<br />
She could hitch a ride out of town<br />
And so far away from that low town good for nothing mistake making fool<br />
With excuses like baby that was a long time ago<br />
But that's just a euphemism if you want the truth he was out of control<br />
But a short times just a long time then your mind just won't let it go</p>

<p>Well summer came along and it then was gone and so was she<br />
Not from him because he followed her just to let her know<br />
A dreams a dream<br />
And all this livings so much harder than it seems<br />
But girl don't let your dreams be dreams<br />
You know this livings not so hard as it seems<br />
Don't let your dreams dreams<br />
Your dreams your dreams be dreams</p>

<p>“Dreams be Dreams” – Jack Johnson</p>

<p>When you are around Jessica it is literally impossible for you not to dream. Her enthusiasm for life and her love for people are contagious. It has been such blessing to call her a friend and dream big with her. Starting She’s the First UCF with her has been an adventure of a lifetime and I cannot wait to see where our next adventure will take us.</p>
