<p>We have known each other since we were three years old. Through dance classes for thirteen years, preschool, middle, high school, college, and now to planning a wedding; we’ve been through it all together! Jessica has been such an amazing supportive friend. I am so happy to take part in such a milestone and exciting day in her life.</p>
